<% unless root.nil? %>
  <div class="card" id="comment-card_of_<%= root.id%>" >
    <div class="card" id="comment-card" >
      <div class="card-body">
        <div class="well"  style="display: inline;">
          <span id="comment_card_<%= root.id %>">
            <%= root.body %>
          </span>
          <div style="display: inline;" class="float-right" id="functionality_of_<%= root.id%>" >
          <% if current_user != nil %>
            <% if root.ancestry==nil %>
              <%= link_to 'reply', new_product_comment_path(root.product_id,ancestry: root.id), remote: true, class:'btn reply_comment' %>
            <% end %>
            <% if current_user.id == root.user_id %>
              <%= link_to 'Edit', edit_product_comment_path(root.product_id,root), remote: true, class: "btn edit_comment" %>
              <%= link_to 'Destroy', product_comment_path(root.product_id,root), remote: true ,method: :delete, data: { confirm: 'Are you sure?' },class:'btn delete_comment' %>
            <% end %>
          <% end %>
          </div>
        </div>  
      </div>
    </div>
    <div id="child_comment_<%= root.id %>" style="margin-left: 60px;"></div>
  </div>
<% end%>