<div class="card" id="child_form_<%= @comment.id %>">
    <div class="row">
        <div class="col-md-12">
            <%= form_tag(product_comment_path, method: :patch, remote: true) do %>
                <textarea id="comment_body_<%= @comment.id %>" name="comment[body]" class="form-control" rows="1" required ><%= @comment.body%></textarea>
                <%= hidden_field_tag 'comment[ancestry]',params[:ancestry]%>
                <%= submit_tag 'Update Comment', class:"btn"%>
            <% end %>
        </div>
    </div>
</div>
