<nav class="navbar navbar-expand-lg navbar-lig  ht bg-light">
  <a href=<%= products_path %> class="navbar-brand">Shopikue</a>
  <% if user_signed_in? %>
    <%= link_to image_tag(current_user&.image.to_s,:align=>"middle",class: 'my_img card-img-top img-fluid',style:"height:30px; width:30px"), edit_user_registration_path %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="content">
    <ul class="navbar-nav mr-auto">
      
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item nav-link">
        <%= link_to carts_path do %>
          <i class="fa fa-shopping-cart"></i>
        <% end %>
      </li>
      <% if current_user %>
        <li class="nav-item nav-link">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item nav-link">
          <%= link_to 'Register', new_user_registration_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to 'Sign In', new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
