<br>
<div class="container" data-product-id="<%= @product.id %>">
  <div class="row">
    <div class="col-sm-3 col-md-6 col-lg-4">
      <div id="product_images" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <% @i= 0 %>
          <% @count = @product.images.count %>
          <% while @i < @count %>
            <li data-target="#product_images" data-slide-to="<%= @i %>" ></li>
            <% @i = @i+1 %>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <% if @product.images.any? %>
              <img class="d-block w-100" style="height: 350px; width: 350px" align="middle" src=<%= @product.images.first.image.to_s%> alt="First slide">
            <% end %>
          </div>
          <% @j = 0 %>
          <% @product.images.each do |image| %>
            <% if @j != 0 %>
              <div class="carousel-item">
                <img class="d-block w-100" style="height: 350px; width: 350px" align="middle" src=<%= image.image.to_s%> alt="Second slide">
              </div>
            <% end %>
            <% @j = @j + 1 %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-6 col-lg-8" >
      <h1><%= @product.title %></h1>
      <div class="well"><%= @product.description %></div>
      <div><strong>Price:</strong> <%= @product.price%></div>
      <div>
        <% i=@product.ratings.average(:rate).to_i %>
        <% while i>0 %>
          <i class="fa fa-star"></i>
          <% i=i-1 %>
        <% end %>
      </div>
      <br>

      <%= form_tag(add_to_cart_path) do%>
        <div class="field form-group col-7">
          <%= label_tag :quantity %> <br/>
          <%= number_field_tag :quantity,'1', min:1 %>
        </div>
        <div class="actions form-group col-7">
          <%= submit_tag 'Add to Cart',class:'form-control'%>
        </div>
      <% end %>
      
      <% if user_signed_in? %>
        <%= render partial: 'rating' %>
      <% end %>
    
    </div>
  </div>
  <br>

  <% if current_user %>
      <%= render partial: 'comments/new' %>
  <% end %>

  <div id='comments_<%= @product.id %>'>
    <% @product.comments.order(created_at: :desc).root.each do |root| %>
      <%= render partial: 'comments/comment_card',locals: {root: root} %>
      <div id="child_comment_<%= root.id %>" class="child_comments" >
        <% root.children.each do |child| %>
          <%= render partial: 'comments/comment_card',locals: {root: child} %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>



