<%= form_with(model: cart, url: cart_path(cart), local: true) do |form| %>
  <% if cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>
      <ul>
      <% cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>
 
  <div class="actions form-group ">
    <%= form.submit class:"btn btn-default"%>
  </div>
<% end %>
