<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:55%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:5%"></th>
      </tr>
    </thead>
    <tbody>
      <% order_total=0 %>
      <% if current_user %>
        <% @carts.each do |cart| %>
          <tr>
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-3 hidden-xs"><%= image_tag cart.product.first_image.to_s, style: 'width:100px;height:100px;',class:"image-responsive" %></div>
                <div class="col-sm-9">
                  <h4 class="nomargin"><%= cart.product.title %></h4>
                  <p><%= cart.product.description %></p>
                </div>
              </div>
            </td>
            <td data-th="Price"><%= cart.product.price %></td>

            <td data-th="Quantity" class="form-grouup">
              <%= number_field_tag :quantity , cart.quantity, min: 1, class: 'form-control quantity_input', 'data-cart-id': cart.id %>
            </td>
            
            <td data-th="Subtotal" class="text-center"><%= cart.total %></td>
              <% order_total = order_total + cart.total%>
            <td class="actions" data-th="">
              <%= link_to cart_path(cart), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-dark btn-sm' do%>
                <i class="fa fa-trash-o"></i>
              <% end %>							
            </td>
          </tr>
        <% end %>
      <% else %>
        <% @order_products.each do |cart| %>
          <tr>
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-3 hidden-xs"><%= image_tag cart.product[0][0].images.first.image.to_s, style: 'width:100px;height:100px;',class:"image-responsive" %></div>
                <div class="col-sm-9">
                  <h4 class="nomargin"><%= cart.product[0][0].title %></h4>
                  <p><%= cart.product[0][0].description %></p>
                </div>
              </div>
            </td>
            <td data-th="Price"><%= cart.product[0][0].price %></td>
            
            <td data-th="Quantity" class="form-grouup">
              <%= number_field_tag :quantity , cart.product[1][0], min: 1, class: 'form-control quantity_input', 'data-cart-id': cart.product[0][0].id %>
            </td>

            <td data-th="Subtotal" class="text-center"><%= cart.product[1][0]*cart.product[0][0].price %></td>
            <% order_total+=(cart.product[1][0]*cart.product[0][0].price)%>
            <td class="actions" data-th="">
              <% id=cart.product[0][0].id %>
              <% quantity= cart.product[1][0] %>
              <%= link_to cart_path(id: id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-dark btn-sm' do%>
                <i class="fa fa-trash-o"></i>
              <% end %>              
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <%= link_to products_path do %>
            <button class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</button>
          <% end %>
        </td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total $<%= order_total.to_i%></strong></td>
        <td>
          <%= link_to new_charge_path do %>
              <button class="btn btn-success"><i class="fa fa-angle-right"></i> Checkout</button>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>