<%= form_tag charges_path do |f| %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
    
  <form action="/charge" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%=  Rails.application.secrets.stripe_publishable_key %>"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-name="Shopikuo Order Payment"
      data-description="<%= @widgets_count%> widgets ($<%= @amount %>)"
      data-amount="<%= params[:amount] %>"
      data-email=<%= @email %>
      data-billing-address="true"
      data-shipping-address="true">
    </script>
  </form>
<% end %>
