<%= form_tag charges_path do |f| %>
  <article>
    <label class="amount">
        <span>Amountt: <%= params[:amount] %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js"></script>
    
  <form action="/charge" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%=  Rails.application.secrets.stripe_publishable_key %>"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-name="Matt's Widgets and Gizmos"
      data-description="2 widgets ($<%= params[:amount] %>)"
      data-amount="<%= params[:amount] %>"
      data-billingAddress="true"
      data-shippingAddress="true">
    </script>
  </form>
<% end %>
