<h1>Editing Order Product</h1>
<% if current_user %>
  <%= render 'form', order_product: @order_product %>
<% else %>
    <%= form_tag(order_product_path, method: :patch) do %>
    <div class="field">
        <%= label_tag :quantity %>
        <%= number_field_tag :quantity , params[:quantity] %>
    </div>
    <%= submit_tag 'Add to Cart' %>
    <% end %>
<% end %>

<%= link_to 'Show', @order_product %> |
<%= link_to 'Back', order_products_path %>
