<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>

    <tbody>
      <% if current_user %>
        <% @order_products.each do |order_product| %>
          <tr>
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-3 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                <div class="col-sm-9">
                  <h4 class="nomargin"><%= order_product.product.title %></h4>
                  <p><%= order_product.product.description %></p>
                </div>
              </div>
            </td>
            <td data-th="Price"><%= order_product.product.price %></td>
            <td data-th="Quantity">
              <%= order_product.quantity %>
            </td>
            <td data-th="Subtotal" class="text-center"><%= order_product.total %></td>
            <td class="actions" data-th="">
              <%= link_to 'Edit', edit_order_product_path(order_product) %>
              <button class="btn btn-danger btn-sm">
                <%= link_to order_product, method: :delete, data: { confirm: 'Are you sure?' } do%>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              </button>								
            </td>
          </tr>
        <% end %>
      <% else %>

        <% @order_products.each do |order_product| %>
          <tr>
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-3 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                <div class="col-sm-9">
                  <h4 class="nomargin"><%= order_product.product[0][0].title %></h4>
                  <p><%= order_product.product[0][0].description %></p>
                </div>
              </div>
            </td>
            <td data-th="Price"><%= order_product.product[0][0].price %></td>
            <td data-th="Quantity">
              <%= order_product.product[1][0] %>
            </td>
            <td data-th="Subtotal" class="text-center"><%= order_product.product[1][0]*order_product.product[0][0].price %></td>
            <td class="actions" data-th="">
              <% id=order_product.product[0][0].id %>
              <% quantity= order_product.product[1][0] %>
              <%= link_to 'Edit', edit_order_product_path(id: id,quantity: quantity) %>
              <button class="btn btn-danger btn-sm">
                <%= link_to order_product_path(id: id), method: :delete, data: { confirm: 'Are you sure?' } do%>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              </button>			
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>


    <tfoot>
      <tr>
        <td>
          <%= link_to products_path do %>
            <button class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</button>
          <% end %>
        </td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
        <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
      </tr>
    </tfoot>
    
  </table>
</div>