<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>

    <tbody>
      <% order_total=0 %>
      <% if current_user %>
        <% @order_products.each do |order_product| %>
          <tr>
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-3 hidden-xs"><%= image_tag order_product.product.images.first.image.to_s, style: 'width:100px;height:100px;',class:"image-responsive" %></div>
                <div class="col-sm-9">
                  <h4 class="nomargin"><%= order_product.product.title %></h4>
                  <p><%= order_product.product.description %></p>
                </div>
              </div>
            </td>
            <td data-th="Price"><%= order_product.product.price %></td>
            <td data-th="Quantity">
              <%= order_product.quantity %>
            </td>
            <td data-th="Subtotal" class="text-center"><%= order_product.total %></td>
            <% order_total = order_total + order_product.total%>
            <td class="actions" data-th="">
              
              
              <%= link_to 'Edit', edit_order_product_path(order_product), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary'} %>
              <div class="modal fade" tabindex="1" role="dialog" id="modal-window">
              <div class="modal-dialog" role="document">
                  <div class="modal-content"></div>
                </div>
              </div>
              
              
              <button class="btn btn-danger btn-sm">
                <%= link_to order_product, method: :delete, data: { confirm: 'Are you sure?' } do%>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              </button>								
            </td>
          </tr>
        <% end %>
      <% else %>

        <% @order_products.each do |order_product| %>
          <tr>
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-3 hidden-xs"><%= image_tag order_product.product[0][0].images.first.image.to_s, style: 'width:100px;height:100px;',class:"image-responsive" %></div>
                <div class="col-sm-9">
                  <h4 class="nomargin"><%= order_product.product[0][0].title %></h4>
                  <p><%= order_product.product[0][0].description %></p>
                </div>
              </div>
            </td>
            <td data-th="Price"><%= order_product.product[0][0].price %></td>
            <td data-th="Quantity">
              <%= order_product.product[1][0] %>
            </td>
            <td data-th="Subtotal" class="text-center"><%= order_product.product[1][0]*order_product.product[0][0].price %></td>
            <% order_total+=(order_product.product[1][0]*order_product.product[0][0].price)%>
            <td class="actions" data-th="">
              <% id=order_product.product[0][0].id %>
              <% quantity= order_product.product[1][0] %>


              <%= link_to 'Edit', edit_order_product_path(id: id,quantity: quantity), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary'} %>
              <div class="modal fade" tabindex="1" role="dialog" id="modal-window">
              <div class="modal-dialog" role="document">
                  <div class="modal-content"></div>
                </div>
              </div>


              <button class="btn btn-danger btn-sm">
                <%= link_to order_product_path(id: id), method: :delete, data: { confirm: 'Are you sure?' } do%>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              </button>			
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>


    <tfoot>
      <tr>
        <td>
          <%= link_to products_path do %>
            <button class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</button>
          <% end %>
        </td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total $<%= order_total.to_i%></strong></td>
        <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
      </tr>
    </tfoot>
    
  </table>
</div>