<p id="notice"><%= notice %></p>

<h1>Images</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image_tag(image.image.to_s, width:'50x', :align=>'middle') %></td>
        <td><%= link_to 'Show', product_image_path(@imageable,image) %></td>
        <td><%= link_to 'Edit', edit_product_image_path(@imageable,image) %></td>
        <td><%= link_to 'Destroy', product_image_path(@imageable,image), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', [:new, @imageable, :image] %>
